/* Custom CSS for the XAPI page */

h1#title {
	margin:2px;
}
#bboxmap {
    width:100%;
    height:100%;
    margin: 0;
}

#bboxmap_outer {
    padding:6px;
    width: 542px;
    height: 240px;
    overflow: auto;
    resize: both;
    border: solid 1px #ddd;
    background-color:#eee;
}

.filter_box_content {
	background-color:#eaf5ea;
	padding:10px;
	margin-bottom:10px;
}

.filter_box_top {
	font-weight:bold;
	background-color:#E0EEE0;
	padding:3px;
	margin-top:10px;
}


#mapcontrol  {
	padding:4px;
}
#mapcontrol label, #mapcontrol input {
	cursor:pointer;
}

#xapiurl {
	background-color:#FFFFAA;
	font-weight:bold;
	padding:10px;
	margin:10px;
}
#results_outer {
	font-family: Courier New, Courier, monospace;
	background:WHITE;
	border:1px solid GREY;
	padding:2px 10px 2px 10px;
}


/*input { font: 1em Verdana, Arial, sans serif; border:none;}*/

input[type='text'] { font: 0.9em Verdana, Arial, sans serif; border:none; margin: 1px; background:WHITE; opacity: 0.8; }
input[type='text']:hover { border: 1px solid #888; color: #FF9200; margin: 0px; }
input[type='text']:focus { background: #FFFFAA; border: 1px solid #000; color: #000; margin: 0px; }

label.bbox { font-family:sans-serif; font-size:xx-small; font-weight:bold; display: block;}
input.bbox { width:90px; text-align: center;}

.bounds { border: none; text-align: center; width: 90px; height: 33px}

#bbox   { position:relative; margin:5px; height:99px; width:185px;}
#b_top    { position: absolute; top: 0px; left: 50px; }
#b_right  { position: absolute; top: 33px; left: 95px; }
#b_bottom { position: absolute; top: 66px; left: 50px; }
#b_left   { position: absolute; top: 33px; left: 0px; }

/*OL BBOX*/
.olBBOXselect{
    border: 2px solid orange;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}
.olBBOX{
    border: 2px solid orange;
    position: absolute;
    background-color: green;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
} 
